.select-container {
	position: absolute;
	top: 10%;
	right: 50%;
	transform: translateX(50%);
	width: 65%;
	height: 5%;
	overflow: hidden;
	border-radius: .25em;
}
/* Arrow */

.select-container::after {
	content: '\25BC';
	position: absolute;
	top: 5px;
	right: 0;
	padding: 0 1em;
	background: #ebebeb;
	cursor: pointer;
	pointer-events: none;
	-webkit-transition: .25s all ease;
	-o-transition: .25s all ease;
	transition: .25s all ease;
}
/* Transition */

.select-container:hover::after {
	color: #f39c12;
}
select {
	width: 100%;
	height: 100%;
	font-family: inherit;
	font-size: 18px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	background: #ebebeb;
	background-image: none;
	padding: 0 .5em;
	color: hsl(200, 15%, 21%);
	cursor: pointer;
}
.loading {
	width: 100px;
}
.loading-gif {
	display: block;
	width: 100%;
}
@media (min-width: 769px) {
	.select-container {
		top: 13%;
		width: 40%;
	}
}