@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  border: none;
}
ol,
li {
  list-style-type: none;
}
body {
  font-family: "Pangolin", cursive;
  font-style: 14px;
  color: #000;
  line-height: 1.8;
}
@media (min-width: 451px) {
  body {
    font-style: 18px;
  }
}
@media (min-width: 769px) {
  body {
    font-style: 20px;
  }
}
